{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center;">{% block title %}H4CK3r 71M35{% endblock %}</h1>
 <p style="border-radius: 25px; margin-left: auto;  margin-right: auto; background-color : #fff0e0; padding : 20px; width: 80%;">
 Recently one of the biggest tech companies, ACME got hacked. 500 emails and passwords leaked out.
 Specialists suggest not to worry, because passwords are encrypted with military-grade MD5 encryption algorithm.
 If you want to know more, <a href="#">click to subscribe>>>></a>
 </p>
<hr/>
 <p style="border-radius: 25px; margin-left: auto;  margin-right: auto; background-color : #a0a0a0; padding : 20px; width: 80%;">
   Here’s the <a href="a2/file">link</a> to stolen credentials, can you use them to attack this <a href="a2/login">system</a>?
 </p>


{% endblock %}